* {
    margin : 0;
    padding: 0;
}

p::first-letter{
    font-weight: bolder;
}

body{
    background-color:#e0e0e0;
}

body.dark{
    background-color: #171717;
    color: #ffffff;
}

header {
    width: 100%;
    height: 100px;
    background-color:#c4c4c4;
    position: relative;
}

header.dark{
    background-color: #303030;
}

footer{
    width: 100%;
    height: 100px;
    background-color:#c4c4c4;
}

footer.dark{
    background-color: #303030;
}

nav div{
    display: inline-block;
    padding-top:13px;
}

div.right{
    margin-right: 2%;
    text-align: right;
    float: right;
}

h2, h4{
    padding-top: 2px;
    margin-bottom: 3px;
    margin-left: 6px;
}

nav.container{
    width: 60%;
    margin: 0 auto;
}

div#content{
    width: 60%;
    margin: 0 auto;
}

figure{
    background-color:#c4c4c4;
    padding-top: 15px; 
    padding-bottom: 10px;
    text-align: center;

    width: 40%;
    margin: 0 auto;
}

.dark figure{
    background-color: #303030;
}

figure img{
    width: 80%;
}

button{
    background-color: #303030;

    height: 25%;
    width: 6%;

    position: absolute;
    bottom: 67%;
    left: 92%;    
}

.dark button{
    background-color: #c4c4c4;
}
